.history/
.vscode/
__pycache__/
images/
old versions/
tests/
__init__.py
*.ico
*.pyc
*.orig
constants.json
change.log
config.json
developer.bat
github.txt
RPN_calculator - Tk.py
RPNcalc.py -- Paul Lutus version.py
scratch.py